  <div class="chat-header col-10 offset-sm-1">
    <span class="chat-name">
    <% if shop_signed_in? %>
      you:<%= @room.shop.name %>
      ユーザ:<%= @room.user.full_name %>
    <% elsif user_signed_in? %>
      you<%= @room.user.full_name %>
      お店:<%= @room.shop.name %>
    <% end %>
    </span>
  </div>

<div id="room" data-room_id="<%= @room.id %>"></div>
<%# メッセージの表示を返す時、左右を分けるために誰がページを見ているか情報を渡す %>
<% if shop_signed_in? %>
  <div id="show_id" data-show_id="shop"></div>
<% elsif user_signed_in? %>
  <div id="show_id" data-show_id="user"></div>
<% end %>


<div class="chats shadow col-sm-10 offset-sm-1">
<%# メッセージ表示 %>
  <div id="chat_messages" data-chat_room_id="<%= @room.id %>">
    <%= render 'chat_messages/chat_message', {messages: @messages} %>
  </div>
<br>

<%# メッセージ送信フォーム %>
  <div class= "row justify-content-center">
    <div class= "col-sm-10 offset-sm-1"></div>
      <% if shop_signed_in? %>
        <input type="hidden" name="shop_id" id="shop-id-form" value="<%= @room.shop.id %>">
      <% else %>
        <input type="hidden" name="user_id" id="user-id-form" value="<%= @room.user.id %>">
      <% end %>
      <input type="hidden" name="chat_room_id" id="chat-room-id-form"  value="<%= @room.id %>">

      <input type="text" name="content" id="content-form" data-behavior="chat_speaker">
      <button id="chat_sendbtn" data-behavior="chat_speaker"><i class="fas fa-paper-plane"></i></i></button>
    </div>
  </div>
</div>