<% if shop_signed_in? %>
  店(you)
<%= @room.shop.id %>
ユーザ
<%= @room.user.id %>

<% elsif user_signed_in? %>
ユーザ(you)
<%= @room.user.id %>
  店
<%= @room.shop.id %>
<% end %>

<%# メッセージ表示 %>
<%= render 'chat_messages/chat_message', {user_messages: @user_messages, shop_messages: @shop_messages} %>


<br>

<%# メッセージ送信フォーム %>
  <div class="posts">
    <%= form_with model:@message, local: true do |f| %>
      <%= f.text_field :content, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
        <%= f.hidden_field :chat_room_id, value: @room.id %>
          <%= f.submit "投稿",class: 'form-submit'%>
    <% end %>
  </div>
