  <div class="chat-header col-10 offset-sm-1">
    <span class="chat-name">
    <% if shop_signed_in? %>
      you:<%= @room.shop.name %>
      ユーザ:<%= @room.user.full_name %>
    <% elsif user_signed_in? %>
      you<%= @room.user.full_name %>
      お店:<%= @room.shop.name %>
    <% end %>
    </span>
  </div>

<div class="chats col-sm-10 offset-sm-1">

<%# メッセージ表示 %>
<div id="chat_messages" data-chat_room_id="<%= @room.id %>">
  <%= render 'chat_messages/chat_message', {user_messages: @user_messages, shop_messages: @shop_messages} %>
</div>

<br>

<%# メッセージ送信フォーム %>
  <div class="posts col-sm-10 col-sm-offset-1">
    <%= form_tag url:chat_room_path(@room.id) do |f| %>
      <%= text_field_tag :content, data: { behavior: "chat_post" } %>
        <%#= hidden_field_tag :shop_id, value: current_shop.id %>
    <% end %>
<%# メッセージ送信フォーム %>

</div>
