<% if shop_signed_in? %>
  店(you)
<%= @room.shop.id %>
ユーザ
<%= @room.user.id %>

<% elsif user_signed_in? %>
ユーザ(you)
<%= @room.user.id %>
  店
<%= @room.shop.id %>
<% end %>

<%# メッセージ表示 %>
<div id="chat_messages" data-chat_room_id="<%= @room.id %>">
  <%= render 'chat_messages/chat_message', {user_messages: @user_messages, shop_messages: @shop_messages} %>
</div>

<br>

<%# メッセージ送信フォーム %>
  <div class="posts">
    <%= form_tag url:chat_room_path(@room.id) do |f| %>
      <%= text_field_tag :content, data: { behavior: "chat_post" } %>
        <%= hidden_field_tag :shop_id, value: current_shop.id %>
    <% end %>



<%# メッセージ送信フォーム %>


