<div class="container">
    <div class ="row">
    <div class="info1">
    <h3 class="heading">基本情報</h3>

    <%= form_with model: @shop, local: true do |f| %>
    <table class="table">
    <tr>
    <td><%=  f.label :name, "店名" %></td>
    <td><%= f.text_field :name %></td>
    </tr>
    <tr>
    <td><%=  f.label :name_kana, "カナ" %></td>
    <td><%= f.text_field :name_kana %></td>
    </tr>
    <tr>
    <td><%=  f.label :phone_number, "TEL" %></td>
    <td><%= f.text_field :phone_number %></td>
    </tr>
    <tr>
    <td><%=  f.label :category_id, "業種" %></td>
    <td><%= f.select :category_id, Category.all.map{|category| [category.name, category.id]} %></td>
    <!-- 都度APIを叩かずにcategoryモデルにAPIのデータを保存する方法に変更 -->
    <%if false  %>
    <td><%= f.select :category , @categories.map { |category| [category['category_l_name'], category['category_l_code']] } %></td>
    <% end %>
    </tr>
    </table>
    <p>住所</p>
    <table class="table">
    <tr>
    <td><%=  f.label :post_code, "郵便番号" %></td>
    <td><%= f.text_field :post_code, id:"address_zipcode" %></td>
    </tr>
    <tr>
     <td><%= f.label :prefecture_name, '都道府県' %></td>
      <td><%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, id: "prefecture_code"%></td>
    </tr>
    <tr>
    <td><%=  f.label :city, "市区町村" %></td>
    <td><%= f.text_field :city, id:"address_city" %></td>
    </tr>
    <tr>
    <td><%=  f.label :block, "番地" %></td>
    <td><%= f.text_field :block, id: "address_block" %></td>
    <tr>
    <td><%=  f.label :building, "建物" %></td>
    <td><%= f.text_field :building %></td>
    </tr>
    </table>

    </div>
    </div>
    <div class ="info2">
    <h3 class="heading">お店情報</h3>
  <table class="table">
    <tr>
    <td><%=  f.label :catchcopy, "キャッチコピー" %></td>
    <td><%= f.text_field :catchcopy %></td>
    </tr>
    </table>

    <div class ="row">
      <div class ="col-sm-6">
        <h4><%=  f.label :main_image , "メインビジュアル" %></h4>
        <%= attachment_image_tag @shop, :main_image, class: "main_image", fallback: "no_image.svg", size:"300x300" %>
        <%= f.attachment_field :main_image, placeholder: "画像", id: "main_image" %>
      </div>
    <div class ="col-sm-6">
        <h4><%=  f.label :sub_image , "サブビジュアル" %></h4>
        <%= attachment_image_tag @shop, :sub_image, class: "image", fallback: "no_image.svg", size:"300x300" %>
        <%= f.attachment_field :sub_image, placeholder: "画像", id: "sub_image" %>
    </div>
    </div>

    <div class ="row">
    <div class ="col-sm-6">
        <h4><%=  f.label :appeal_image , "アピールポイント" %></h4>
        <%= attachment_image_tag @shop, :appeal_image, class: "image", fallback: "no_image.svg", size:"300x300" %>
        <%= f.attachment_field :appeal_image, placeholder: "画像", id: "item_image" %>
    </div>
    <div class ="col-sm-6">
    <%= f.text_area :appeal_text %>
    </div>
    </div>

    <div class ="row">
    <div class ="col-sm-6">
    <h4><%=  f.label :recommend_image , "お店のおすすめ！" %></h4>
        <%= attachment_image_tag @shop, :recommend_image, class: "image", fallback: "no_image.svg", size:"300x300" %>
        <%= f.attachment_field :recommend_image, placeholder: "画像", id: "item_image" %>
    </div>
    <div class ="col-sm-6">
  <table class= "table">
  <tr>
  <td><h4><%=  f.label :recommend_name , "おすすめ商品名" %></h4></td>
  <td><%= f.text_field :recommend_name %></td>
  </tr>
  <tr>
  <td><h4><%=  f.label :recommend_name , "おすすめ内容" %></h4></td>
  <td><%= f.text_area :recommend_text %></td>
  </tr>
  </table>
    </div>
    </div>
    </div>
    </div>
 <%= f.submit "変更を保存する", class: "btn btn-primary" %>
    <% end %>
</div>

<a href="https://api.gnavi.co.jp/api/scope/" target="_blank">
<img src="https://api.gnavi.co.jp/api/img/credit/api_155_20.gif" width="155" height="20" border="0" alt="グルメ情報検索サイト　ぐるなび">
</a>


<!-- 画像プレビュー -->
<% if false %>
<script>
$(function(){
    $('#main_image').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $(".main_image").attr('src', e.target.result);
}  
reader.readAsDataURL(e.target.files[0]);    
});
});
</script>
<% end %>
