<div class="container">
    <div class ="row">
    <%= form_with model: @shop, local: true do |f| %>
      <div class="info1">
        <h3 class="heading">基本情報</h3>
            <table class="table">
              <tr>
                <td><%=  f.label :name, "店名" %></td>
                <td><%= f.text_field :name,  size: 35 %></td>
              </tr>
              <tr>
                <td><%=  f.label :name_kana, "カナ" %></td>
                <td><%= f.text_field :name_kana,  size: 35 %></td>
              </tr>
              <tr>
                <td><%=  f.label :phone_number, "TEL" %></td>
                <td><%= f.text_field :phone_number,  size: 35 %></td>
              </tr>
              <tr>
                <td>
                  <%=  f.label :category_id, "業種" %>
                  <br>
                  <a href="https://api.gnavi.co.jp/api/scope/" target="_blank">
                    <img src="https://api.gnavi.co.jp/api/img/credit/api_155_20.gif" width="155" height="20" border="0" alt="グルメ情報検索サイト ぐるなび">
                  </a>
                </td>
                <td><%= f.select :category_id, Category.all.map{|category| [category.name, category.id]},  size: 35 %></td>
              </tr>
            </table>
            <p>住所</p>
            <table class="table">
              <tr>
                <td><%=  f.label :post_code, "郵便番号" %></td>
                <td><%= f.text_field :post_code, id:"address_zipcode",  size: 35 %></td>
              </tr>
              <tr>
                <td><%= f.label :prefecture_name, '都道府県' %></td>
                <td><%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, id: "prefecture_code",  size: 35 %></td>
              </tr>
              <tr>
                <td><%=  f.label :city, "市区町村" %></td>
                <td><%= f.text_field :city, id:"address_city",  size: 35 %></td>
              </tr>
              <tr>
                <td><%=  f.label :block, "番地" %></td>
                <td><%= f.text_field :block, id: "address_block",  size: 35 %></td>
              <tr>
                <td><%=  f.label :building, "建物" %></td>
                <td><%= f.text_field :building,  size: 35 %></td>
              </tr>
            </table>
        </div>
        <div class ="info2">
          <h3 class="heading">お店情報</h3>
          <table class="table">
            <tr>
            <td><%=  f.label :catchcopy, "キャッチコピー" %></td>
            <td><%= f.text_field :catchcopy ,  size: 35%></td>
            </tr>
          </table>
      <section class="shop-edit mv">
        <div class ="row">
          <div class ="col-sm-6">
            <h4><%=  f.label :main_image , "メインビジュアル" %></h4>
            <%= attachment_image_tag @shop, :main_image, class: "pre_image main_image", fallback: "no_image.svg"%>
            <%= f.attachment_field :main_image, placeholder: "画像", id: "main_image" %>
          </div>
          <div class ="col-sm-6">
            <h4><%=  f.label :sub_image , "サブビジュアル" %></h4>
            <%= attachment_image_tag @shop, :sub_image, class: "pre_image sub_image", fallback: "no_image.svg"%>
            <%= f.attachment_field :sub_image, placeholder: "画像", id: "sub_image" %>
          </div>
        </div>
      </section>
      
      <section class="shop-edit appeal">
        <h4><%=  f.label :appeal_image , "アピールポイント" %></h4>
        <div class ="row">
          <div class ="col-sm-6">
            <%= attachment_image_tag @shop, :appeal_image, class: "pre_image appeal_image", fallback: "no_image.svg" %>
            <%= f.attachment_field :appeal_image, placeholder: "画像", id: "appeal_image" %>
          </div>
          <div class ="col-sm-6">
          <%= f.text_area :appeal_text, size: "70x10" %>
          <small>※250文字以内</small>
          </div>
        </div>
      </section>

      <section class="shop-edit recommend">
      <h4><%=  f.label :recommend_image , "お店のおすすめ！" %></h4>
        <div class ="row">
          <div class ="col-sm-6">
          <%= attachment_image_tag @shop, :recommend_image, class: "pre_image recommend_image", fallback: "no_image.svg" %>
          <%= f.attachment_field :recommend_image, placeholder: "画像", id: "recommend_image" %>
          </div>
          <div class ="col-sm-6">
            <table class= "table">
              <tr>
                <td><h4><%=  f.label :recommend_name , "おすすめ商品" %></h4><br><small>※15文字以内</small></td>
                <td><%= f.text_field :recommend_name,  size: 40 %></td>
              </tr>
              <tr>
                <td><h4><%=  f.label :recommend_name , "おすすめ内容" %></h4><br><small>※220文字以内</small></td>
                <td><%= f.text_area :recommend_text,  size: "40x10" %></td>
              </tr>
            </table>
          </div>
        </div>
      </section>
      <div class ="shop-edit-action row justify-content-center">
        <%= f.submit "変更を保存する", class: "btn btn-primary" %>
      </div>
  <% end %>
    <div class= "row justify-content-end">
    <% if shop_signed_in? && @shop.id == current_shop.id %>
      <%= link_to "退会", withdraw_shop_path(current_shop), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
    <% end %>
  </div>
</div>





<!-- 画像プレビュー -->
<script>
$(function(){
    $('#main_image').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $(".main_image").attr('src', e.target.result);
}  
reader.readAsDataURL(e.target.files[0]);    
});
});
</script>

<script>
$(function(){
    $('#sub_image').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $(".sub_image").attr('src', e.target.result);
}  
reader.readAsDataURL(e.target.files[0]);    
});
});
</script>

<script>
$(function(){
    $('#appeal_image').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $(".appeal_image").attr('src', e.target.result);
}  
reader.readAsDataURL(e.target.files[0]);    
});
});
</script>

<script>
$(function(){
    $('#recommend_image').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $(".recommend_image").attr('src', e.target.result);
}  
reader.readAsDataURL(e.target.files[0]);    
});
});
</script>

