<div class ="container">
    <div class= "row justify-content-center">
        <h2>フォロー</h2>
    </div>
        <div class= "row justify-content-center">
            <div class ="col-sm-10">
                <div class= "main main-raised">
                    <table class="table table-striped" >
                        <% @shop.shop_followings.each do |f| %>
                            <tr>
                                <td>
                                    <!-- 名前からroomの詳細に飛べるようにリンク化 -->
                                    <%= link_to user_path(f.user.id) do %>
                                        <%= attachment_image_tag f.user, :user_image, format: 'jpeg', class: "rounded-circle", fallback: "no_image.svg", size: "30x30" %>
                                        <%= f.user.full_name %>
                                    <% end %>
                                </td>
                                <td>
                                <span id="follow_<%= f.user.id %>" class="follow-btn">
                                    <%= render 'shop_followings/follow', user:f.user %>
                                </span>
                                </td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </div>
        </div>       
    </div>