<div class="container">
    <div class= "row">
        <div class ="col-xs-8">
            <div>
                <%= form_with url:search_shops_path, local: true, method: :post do |f| %>
                    <div class="form-check category">
                    <p>業種一覧</p>
                        <!-- デフォルトでhiddenタグが挿入されるのでinclude_hidden: false -->
                        <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name, include_hidden: false) do |c| %>
                            <%= c.label class: 'form-check-label' do %>
                                <%= c.check_box class: 'form-check_input' %>
                                <%= c.text %>
                            <% end %>
                        <% end %>
                    </div>
                    <div class="form-check category">
                    <p>都道府県</p>
                        <!-- デフォルトでhiddenタグが挿入されるのでinclude_hidden: false -->
                        <%= f.collection_check_boxes(:prefecture_code, JpPrefecture::Prefecture.all, :code, :name, include_hidden: false) do |p| %>
                            <%= p.label class: 'form-check-label' do %>
                                <%= p.check_box class: 'form-check_input' %>
                                <%= p.text %>
                            <% end %>
                        <% end %>
                    </div>
                    <div class ="form-content">
                        <span>フリーワード</span><%= f.text_field :content %>
                    </div>
               <%= f.submit "検索する" %>
               <% end %>
            </div>
        </div>
    </div>
    <% @shops.each do |shop| %>
    <div class= "row">
        <div class ="col-xs-7">
            <%= attachment_image_tag shop, :main_image, class: "main_image", fallback: "no_image.svg", size:"300x300" %>
        </div>
        <div class ="col-xs-5">
            <h2><%= shop.catchcopy %></h2>
            <table>
            <tr><h3><%= shop.name %></h3></tr>
            <tr>
                地域：<%= shop.prefecture_name %>
            </tr>
            <tr>
                業種：<%= shop.category.name %>
            </tr>
            <tr><h3>お店のアピールポイント</h3></tr>
            <tr><%= shop.appeal_text  %></tr>
            </table>
        </div>
    </div>
    <% end %>
 </div>
