<% if @shop.is_deleted == false %>

<div class= "container">
    <h2 class="catch">
        <%= @shop.catchcopy %>
    </h2>
        <div class= "row">
            <div class ="col-sm-6">
                <div id="carouselControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <%= attachment_image_tag @shop, :main_image, class: "shop-show-iamge", fallback: "no_image.svg" %>
                        </div>
                        <div class="carousel-item">
                            <%= attachment_image_tag @shop, :sub_image, class: "shop-show-iamge", fallback: "no_image.svg" %>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <div class ="col-sm-5 offset-1">
                <table >
                    <thead>
                        <td><h3><%= @shop.name %></h3></td>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span id ="follow-count_<%= @shop.id %>">
                                <%= render 'shops/follow_data', shop:@shop %>
                            </span>
                        </td>
                    </tr>
                        <tr>
                            <td>業種</td>
                            <td>
                                <% if @shop.category_id.present? %>
                                <%= @shop.category.name %>
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <td>住所</td>
                            <td><%= @shop.address %></td>
                        </tr>
                        <tr>
                        <td>TEL</td>
                        <td><%= @shop.phone_number %></td>
                        </tr>
                        <tr>
                        <td colspan="2">
                            <div id="map"></div>
                        </td>
                        </tr>
                    </tbody>
                </table>
                <div class= "aciton-box">
                    <span id="follow_<%= @shop.id %>">
                        <%= render 'user_followings/follow', shop:@shop %>
                    </span>
                    <span id="chat_<%= @shop.id %>">
                        <%= render 'chat_rooms/shop_chat_button', shop:@shop %>
                    </span>
                    <% if @shop == current_shop %>
                      <%= link_to "編集する", edit_shop_path(@shop), class:"btn btn-primary" %>
                    <% end %>
                </div>
            </div>
        </div>
    <div class ="container">
    <div class= "row box_show">
        <div class ="col-sm-5 show_text">
            <h3 class="show_title">お店のアピールポイント</h3>
            <p><%= @shop.appeal_text  %></p>
        </div>
        <div class ="col-sm-6 offset-1 show-box-image">
            <%= attachment_image_tag @shop, :appeal_image, class: "show-image", fallback: "no_image.svg"  %>
        </div>
    </div>
    </div>

    <div class ="container">
    <div class= "row box_show">
        <div class ="col-sm-5 show_text">
            <h3 class="show_title" >お店のおすすめ！</h3>
                <h4><%= @shop.recommend_name %></h4>
                <p><%= @shop.recommend_text %></p>
        </div>
        <div class ="col-sm-6 offset-1 show-box-image">
            <%= attachment_image_tag @shop, :recommend_image, class: "show-image", fallback: "no_image.svg" %>
        </div>
    </div>
</div>
<% else %>
    <%= @shop.name %>は退会しました。
<% end %>


<script type="text/javascript">
  function initMap() {
    var test ={lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15, 
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @shop.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>




<style type="text/css">
  #map { height: 200px;
         width: 100%;}
</style>
