<div class= "container">
<h2><%= @shop.catchcopy %></h2>

    <div class= "row">
        <div class ="col-sm-6">
            <%= attachment_image_tag @shop, :main_image, class: "main_image", fallback: "no_image.svg", size:"300x300" %>
            <div>
                <span id="follow_<%= @shop.id %>">
                <%= render 'user_followings/follow', shop:@shop %>
                </span>
            </div>
                <div>
                <span id="chat_<%= @shop.id %>">
                    <%= render 'chat_rooms/shop_chat_button', shop:@shop %>
                </span>
                </div>
        </div>
        <div class ="col-sm-6">
            <table >
                <thead>
                <td><h3><%= @shop.name %></h3></td>
                </thead>
                <tbody>
                    <tr>
                        <td>業種</td>
                        <td>
                            <% if @shop.category_id.present? %>
                              <%= @shop.category.name %>
                            <% end %>
                        </td>
                    </tr>
                    <tr>
                        <td>住所</td>
                        <td><%= @shop.address %></td>
                    </tr>
                    <tr>
                    <td colspan="2">
                        <div id="map"></div>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class= "row">
        <div class ="col-sm-6">
            <h3>お店のアピールポイント</h3>
            <%= @shop.appeal_text  %>
        </div>
        <div class ="col-sm-6">
            <%= attachment_image_tag @shop, :appeal_image, class: "main_image", fallback: "no_image.svg", size:"300x300" %>
        </div>
    </div>

    <div class= "row">
        <div class ="col-sm-6">
            <h3>お店のおすすめ！</h3>
            <table>
                <td><%= @shop.recommend_name %></td>
                <td><%= @shop.recommend_text %></td>
            </table>
        </div>
        <div class ="col-sm-6">
            <%= attachment_image_tag @shop, :recommend_image, class: "main_image", fallback: "no_image.svg", size:"300x300" %>
        </div>
    </div>

    <div class= "row">
        <div class ="col-sm-6">
        </div>
        <div class ="col-sm-6">
        </div>
    </div>  
</div>


<script type="text/javascript">
  function initMap() {
    var test ={lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15, 
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @shop.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>




<style type="text/css">
  #map { height: 200px;
         width: 100%;}
</style>
