<div class="container">
    <h3 class>配信メール一覧</h3>
    <div class= "row justify-content-center">
        <div class = "col-sm-10">
            <%= link_to "メール登録", auto_mail_deliveries_form_admins_auto_mail_deliveries_path, class: "btn btn-primary category_btn" %>
            <table class="table">
                <thead>
                    <tr>
                        <th>配信日</th>
                        <th>件名</th>
                        <th>配信形式</th>
                        <th>配信対象</th>
                    </tr>
                </thead>
                <tbody>
                    <% @auto_mails.each do |am| %>
                        <tr>
                            <td><%= am.reservation_time.strftime("%Y-%m-%d %H:%M") %></td>
                            <td>
                                <%= link_to admins_auto_mail_delivery_path(am.id) do %>
                                    <%= am.subject %>
                                <% end %>
                            </td>
                            <td><%= am.mail_type ? "HTML形式" : "Text形式" %></td>
                            <td><%= am.target_type %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
