<header class="sticky-top js-header">  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to root_path, class:"navbar-brand"  do %>
            <% image_tag 'logo4.png', class:"logo" %>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <% if admin_signed_in? %>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "TOP", admins_homes_top_path %></li>
                    <li><%= link_to "店舗一覧", admins_shops_path %></li>
                    <li><%= link_to "会員一覧", admins_users_path %></li>
                    <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
                </ul>
            </div>
            <% elsif user_signed_in? %>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "マイページ", user_path(current_user.id) %></li>
                    <li><%= link_to "店舗一覧", shops_path %></li>
                    <li><%= link_to "ログアウト",destroy_user_session_path, method: :delete  %></li>
                </ul>
            </div>
            <% elsif shop_signed_in? %>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "マイページ", shop_path(current_shop.id) %></li>
                    <li><%= link_to "会員一覧", users_path %></li>
                    <li><%= link_to "ログアウト",destroy_shop_session_path, method: :delete %></li>
                </ul>
            </div>
            <% else %>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">ログイン</a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "会員の方", new_user_session_path  %></li>
                            <li><%= link_to "お店の方", new_shop_session_path %></li>
                        </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">新規登録</a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "会員の方", new_user_registration_path  %></li>
                                <li><%= link_to "お店の方", new_shop_registration_path %></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            <% end %>
        </div>
    </nav>
</header>