<div class="container">
    <div class= "row justify-content-center">
        <div class ="col-sm6">
            <div class="profile-image-box">
                <%= attachment_image_tag @user, :user_image, class: "round_image", fallback: "no_image.svg", size:"300x300" %>
            </div>
         </div>
     </div>
    <div class= "row justify-content-center">
        <div class ="col-sm-10">
            <div class= "main main-raised">
                <table class="table table-borderless profile-info" >
                    <tr>
                        <td>
                            <span id ="follow-count_<%= @user.id %>">
                                <%= render 'users/follow_data', user:@user %>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>お名前:<%= @user.full_name %></td>
                    </tr>
                    <tr>
                        <td>フリガナ:<%= @user.full_name_kana %></td>
                    </tr>
                    <tr>
                        <td>住んでいる地域:<%=@user.prefecture_name %></td>
                    </tr>
                    <tr>
                        <td>希望地域:<%= @user.hope_prefecture_name %></td>
                    </tr>
                    <tr>
                        <td>
                            <% if @user.category_id.present? %>
                                希望業種:<%= @user.category.name %>
                            <% end %>
                        </td>
                    </tr>
                    <tr>
                        <% if admin_signed_in? %>
                            <td colspan="2"><%= link_to "プロフィール編集", edit_admins_user_path(@user), class: "btn btn-primary" %></td>
                        <% end %>
                    </tr>
                </table>
                <div class= "row justify-content-center">
                    <div class= "profile-content">
                        <%= @user.pr %>
                    </div>
                </div>
                <div class= "row justify-content-center">
                    <% if @user.is_deleted == false %>
                        <span class= "btn btn-primary"><%= "有効" %></span>
                    <% else %> 
                        <span class= "btn btn-danger"><%= "無効" %></span>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>