<div class="container">
    <div class ="col-sm-12">
    <div class ="form_box">
        <%= form_with url:search_admins_shops_path, local: true, method: :post do |f| %>
            <div class="accordion" id="accordion-4">
                <div class="card">
                    <div class="card-header" id="header-4a">
                    <button class="btn btn-link" type="button"data-toggle="collapse" data-target="#card-4a" aria-expanded="true" aria-controls="card-4a">
                        業種
                    </button>
                    </div>
                    <div id="card-4a" class="collapse"aria-labelledby="header-4a" data-parent="#accordion-4">
                    <div class="card-body">
                        <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name, include_hidden: false) do |c| %>
                            <%= c.label class: 'form-check-label' do %>
                            <%= c.check_box class: 'form-check_input' %>
                            <%= c.text %>
                            <% end %>
                        <% end %>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="header-4b">
                    <button class="btn btn-link" type="button"data-toggle="collapse" data-target="#card-4b" aria-expanded="false" aria-controls="card-4b">
                        都道府県
                    </button>
                    </div>
                    <div id="card-4b" class="collapse"
                        aria-labelledby="header-4b" data-parent="#accordion-4">
                    <div class="card-body">
                        <%= f.collection_check_boxes(:prefecture_code, JpPrefecture::Prefecture.all, :code, :name, include_hidden: false) do |p| %>
                            <%= p.label class: 'form-check-label' do %>
                            <%= p.check_box class: 'form-check_input' %>
                            <%= p.text %>
                            <% end %>
                        <% end %>
                    </div>
                    </div>
                </div>
            </div>
            <div class ="form-content">
                <span class="form-content-label">フリーワード</span><%= f.text_field :content , class:"index-search" %>
            </div>
            <div class ="form-aciton">
                <%= f.submit "検索する" %>
            </div>
        <% end %>
    </div>
</div>
<!-- Page Content -->
    <div class="container">
        <% @shops.each do |shop| %>
        <div class= "row">
        <hr>
            <div class ="col-sm-6">
                <%= link_to admins_shop_path(shop) do %>
                    <%= attachment_image_tag shop, :main_image, class: "index_main_image", fallback: "no_image.svg" %>
                <% end %>
            </div>
            <div class ="col-sm-6 index_info">
                <h3><%= shop.catchcopy %></h3>
                <table>
                <tr>
                    <% if shop.name.present? %>
                        <h3>店名：<%= link_to shop.name, admins_shop_path(shop) %></h3>
                    <% else %>
                    <h3>店名：<%= link_to "NO NAME", admins_shop_path(shop) %></h3>
                    <% end %>
                <tr>
                    地域：<%= shop.prefecture_name %>
                </tr>
                <tr>
                    業種：
                <% if shop.category_id.present? %>
                    <%= shop.category.name %>
                <% else %>
                未設定
                <% end %>
                </tr>
                <tr><h4>お店のアピールポイント</h4></tr>
                <tr>
                <div class="appeal_box">
                    <p class= "appeal_txet"><%= shop.appeal_text  %></p>
                </div>
                </tr>
                 <tr>
                    <% if shop.is_deleted == false %>
                        <span class= "btn btn-primary"><%= "有効" %></span>
                    <% else %> 
                        <span class= "btn btn-danger"><%= "無効" %></span>
                    <% end %>
                </tr>
                </table>
            </div>
        </div>
        <hr>                 
        <% end %>
    </div>
<!-- Page Content -->
    <div class= "row justify-content-center">
        <%= paginate @shops %>
    </div>
 </div>