    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style= "background-image: url(<%= asset_path('top1.png') %>)" >
          <div class="carousel-caption d-none d-md-block">
            <h3>~結ぶ~</h3>
            <p>大事なお店を...</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
          <div class="carousel-caption d-none d-md-block">
            <h3>~結ぶ~</h3>
            <p>思い出の味を...</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
          <div class="carousel-caption d-none d-md-block">
            <h3>~結ぶ~</h3>
            <p>次の世代へ...</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>



<!-- Page Content -->
<div class="container">
  <!-- Page Heading -->
  <h2 class="my-4">新着案件
    <small>（後継者募集）</small>
  </h2>
  <% @update_shops.each do |update_shop| %>
  <% if update_shop.name.present? && update_shop.main_image.present? %>
  <div class="row">
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <%= link_to shop_path(update_shop) do %>
        <%= attachment_image_tag update_shop, :main_image, class: "card-img-top", fallback: "no_image.svg" %>
        <% end %>
        <div class="card-body">
          <h4 class="card-title">
            <%= link_to update_shop.name, shop_path(update_shop) %>
          </h4>
          <p class="card-text appeal-card-text"><%= update_shop.appeal_text  %></p>
      </div>
    </div>
</div>
    
  <% end %>
  <% end %>
<!-- /.container -->
