<div class="page-header header-filter js-mainVisual" style= "background-image: url(<%= asset_path('top3.jpg') %>)">
      <div class="container">
      <div class="row">
        <div class="col-sm-6 page-header-text">
          <h1 class="title">~結ぶ~</h1>
          <h4 class="description">後継者不足に悩む飲食店とあなたを...</h4>
          <br>
        </div>
      </div>
      </div>
</div>    
<div class="top-box main-raised">
    <!-- 新着案件-->
      <div class="container about-text">
        <h2 class="my-4">結ぶ
          <small>とは</small>
        </h2>
          <h5>後継者不足に悩む飲食店経営者の方と自分のお店を持ちたい個人の方や飲食店を運営したい企業を<br>
               <span class="about-strong">『~結ぶ~』</span>
              <br>
              マッチングプラットフォームです。
          </h5>
      </div>
    <!-- /新着案件 -->
    <h2 class="my-4 stripe">新着
        <small>（後継者募集）</small>
      </h2>
      <div class="row">
        <% @update_shops.each do |update_shop| %>
          <% if update_shop.name.present? && update_shop.main_image.present? %>
            <div class="col-sm-4">
              <div class="card h-100">
                <%= link_to shop_path(update_shop) do %>
                  <%= attachment_image_tag update_shop, :main_image, class: "card-img-top", fallback: "no_image.svg" %>
                <% end %>
                <div class="card-body">
                  <h4 class="card-title">
                    <%= link_to update_shop.name, shop_path(update_shop) %>
                  </h4>
                  <p class="card-text appeal-card-text"><%= update_shop.appeal_text  %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    
    <h2 class="my-4 stripe">新着ニュース</h2>
    <% @news.each do |news| %>
      <div class="card mb-3 news-box" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= attachment_image_tag news, :news_image, class: "bd-placeholder-img news-top-image", fallback: "no_image.svg" %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= news.title %></h5>
              <p class="card-text news-text"><%#=  sanitize news.content %></p>
              <p class="card-text"><small class="text-muted"><%= news.start_date.strftime("%Y-%m-%d") %></small></p>
            </div>
          </div>
       </div>
      </div>
    <% end %>
</div>
</div>





<% if false %>
  <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style= "background-image: url(<%= asset_path('top1.png') %>)" >
          <div class="carousel-caption d-none d-md-block">
            <h3>~結ぶ~</h3>
            <p>大事なお店を...</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
          <div class="carousel-caption d-none d-md-block">
            <h3>~結ぶ~</h3>
            <p>思い出の味を...</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
          <div class="carousel-caption d-none d-md-block">
            <h3>~結ぶ~</h3>
            <p>次の世代へ...</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
<% end %>