<div class="container">
<div class="card-header text-center login-card">
<h2>お店新規登録</h2>
</div>
    <div class= "row justify-content-center">
      <div class= "main main-raised col-sm-8">
        <div class ="col-sm-6 offset-3">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "shops/shared/error_messages", resource: resource %>
          <table class="table table-borderless">
           <tr>
           <td><%= f.label :email %></td>
           <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"email..."  %></td>
           </tr>

           <tr>
            <td><%= f.label :password %>
            <br>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>
            </td>
            <td><%= f.password_field :password, autocomplete: "new-password", placeholder:"password..."   %></td>
          </tr>

            <tr>
              <td><%= f.label :password_confirmation %></td>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"再入力..." %></td>
            </tr>

          <tr>
            <td colspan="2"><%= f.submit "新規登録", class: "btn btn-primary" %></td>
          </tr>
          <td  colspan="2">
              <%= link_to "Googleアカウントで登録", google_oauth_path(type: "shop"), class: "btn btn-primary" %><br />
          </td>
          </table>
          <% end %>
        </div>
      </div>
    </div>
</div>