<div class="container">
<div class="card-header text-center login-card">
<h2>お店ログイン</h2>
</div>
    <div class= "row justify-content-center">
      <div class= "main main-raised col-sm-8">
        <div class ="col-sm-6 offset-3">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <table class="table table-borderless">
           <tr>
           <td><%= f.label :email %></td>
           <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"email..."  %></td>
           </tr>

           <tr>
            <td><%= f.label :password %></td>
            <td><%= f.password_field :password, autocomplete: "current-password", placeholder:"password..." %></td>
          </tr>

          <% if devise_mapping.rememberable? %>
            <tr>
              <td colspan="2"><%= f.check_box :remember_me %><%= f.label :remember_me %></td>
            </tr>
          <% end %>

          <tr>
            <td colspan="2"><%= f.submit "ログイン", class: "btn btn-primary" %></td>
          </tr>
          <td  colspan="2">
              <%= link_to "log in", google_oauth_path(type: "shop"), class: "btn btn-primary" %><br />
          </td>
          </table>
          <% end %>
        </div>
      </div>
    </div>
</div>